 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #cdb2e4, #accbe5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* the home */

.home  button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease;
  
}

.roles a {
            display: inline-block;
            text-decoration: none;
            background: none;
            border: 2px solid #0073e6;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
            border-radius: 8px;
            color: #fff;
            transition: all 0.5s ease;
           align-items: center;
        }

.roles .active,
.roles a:hover {
            background: #0073e6;
}


.form-container {
  background-color: #bab0bb2c;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeSlideIn 1s ease-in-out;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  animation: fadeIn 1.2s ease forwards;
}

.registration-form label {
  display: block;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #444;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.registration-form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.4);
  transform: scale(1.02);
}



.registration-form button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s ease;
}

.registration-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

    .login-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #444;
  animation: fadeIn 1.4s ease forwards;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #0056b3;
  text-decoration: underline;
}


/* Optional fade-in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}